body {
   background-image: url("../images/hollowknight.jpg");
   background-size: cover;
   background-repeat: none;
   color: ivory;
}

a, a:hover{
    color: ivory;
}

.jumbotron{
    background-color: rgba(115,89,86, 70%);
}